<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    td{
      min-width: 50px;
    }
  </style>
<meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'icomoon/style.css' %}">
<link rel="stylesheet" href="{% static 'icomoon1/style.css' %}">

<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">

</head>
<body>

<div id="header">
  <center style="padding:10px 0;font-size:24px; background-color: #706fd3; font-family: 'Oxygen', sans-serif;font-weight: bold; letter-spacing: 2px; color:#fff; "> Chrysalis 2k18 </center>
</div>

	
</div>
<label class="css-label"></label>
<input type="checkbox" class="panelshow" />
<div id="left">
	<a href="http://127.0.0.1:8000/home/"> <button class="fas fa-home"> Home </button> </a>
    <a href="/events/index.html"> <button class="icon-event_note"> Commitee </button> </a>
	<!--<a href="/commitee/index.html"> <button class="icon-group-outline"> Community </button> </a> -->
	<a href="/gallery/index.html"> <button class="icon-gallery"> Gallery </button> </a>
<!--	<a href="/artical/index.html"> <button class="icon-article"> Articals</button> </a> 
	<a href="/notification/index.html"> <button class="icon-notifications-outline"> Notification </button> </a> -->
</div>

<div class="container">
  <div id="page" class="right">
   <div class="cont-wrap">
    <div class="wrapper">
        <div class="table-responsive">
          <table class="table table-hover">
            <caption style="caption-side: top; font-weight: bold;color:red;"> Teachers Faculty </caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Committee</th>
              </tr>
            </thead>
            <tbody>
              <tr >  
              <div class="row"> 
                <div class="col-xs-6">
                <td>
                  {% for record in records %}
                    {{record.name}} <hr></br>
                  {% endfor %}
                </td>
                </div>
                <div class="col-xs-6">
                <td>
                  {% for record in records %}
                    {{record.team}} <hr></br>
                  {% endfor %}
                </td>
                </div>
                </div> 
              </tr>
            </tbody>
          </table>
        </div>

        <div class="table-responsive">
          <table class="table table-hover">
            <caption style="caption-side: top; font-weight: bold;color:red;"> Students Co-Ordinators </caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Committee</th>
              </tr>
            </thead>
            <tbody>
              <tr >   
                <td>
                  {% for record in students_records %}
                    {{record.student_name}} <hr></br>
                  {% endfor %}
                </td>
                <td>
                  {% for record in students_records %}
                    {{record.student_team}} <hr></br>
                  {% endfor %}
                </td>                
              </tr>
            </tbody>
          </table>
        </div>


      </div>
    </div>
  </div>
</div>
</body>
</html>



